/*
@keyframes mov-div{
    from{top:0px;}
    to{top: 200px;}
}
*/
/*
@keyframes mov-div{
    0%{top:0px; left:0px; background-color: black;}
    25%{top:0px; left:300px; background-color: blueviolet;}
    50%{top:300px; left:300px; background-color: darkblue;}
    75%{top:300px; left:0px; background-color: darkslategrey;}
    100%{top:0px; left:0px; background-color: black;}
}
*/
/*
@keyframes mov-div{
    0%{height: ; left:0px; background-color: black;}
    50%{left:300px; background-color: darkblue;}
    100%{left:0px; background-color: black;}
}
*/
 td{
    border: solid 1px black;
    height: 90px;
    width: 90px;
    text-align: center;
}

.tabela{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
}
.casa{
    background-color: #000000;

}
#anima-div{
    position: relative;
    animation: mov-div  15s infinite;
}
@keyframes mov-div{
    0%{top:0px; left:0px;}
    4.166666666666667%{top: 95px; left:0px;}
    8.333333333333333%{top: 190px; left:0px;}
    12.5%{top: 190px; left:95px;}
    16.66666666666667%{top: 190px; left:190px;}
    20.83333333333333%{top: 190px; left:280px;}
    25%{top: 280px; left:280px;}
    29.16666666666667%{top: 375px; left:280px;}
    33.33333333333333%{top: 470px; left:280px;}
    37.5%{top: 470px; left:375px;}
    41.66666666666667%{top: 470px; left:470px;}
    45.83333333333333%{top: 565px; left:470px;}
    50%{top: 660px; left:470px;}
    54.16666666666667%{top: 565px; left:470px;}
    58.33333333333333%{top: 470px; left:470px;}
    62.5%{top: 470px; left:375px;}
    66.66666666666667%{top: 470px; left:280px;}
    70.83333333333333%{top: 375px; left:280px;}
    75%{top: 280px; left:280px;}
    79.16666666666667%{top: 190px; left:280px;}
    83.33333333333333%{top: 190px; left:190px;}
    87.5%{top: 190px; left:95px;}
    91.66666666666667%{top: 190px; left:0px;}
    95.83333333333333%{top: 95px; left:0px;}
    100%{top:0px; left:0px;}
}